global:
  user: "tikv"
  ssh_port: 22
  deploy_dir: "/home/tikv/tikv-deploy"
  data_dir: "/data/tikv-data"
server_configs:
  pd:
    replication.max-replicas: ${replicas_count}
pd_servers:
%{ for pd_private_ip in pd_private_ips ~}
  - host: "${pd_private_ip}"
%{ endfor ~}
tikv_servers:
%{ for data_private_ip in data_private_ips ~}
  - host: "${data_private_ip}"
%{ endfor ~}
monitoring_servers:
  - host: "${pd_tiup_private_ip}"
grafana_servers:
  - host: "${pd_tiup_private_ip}"