global:
  user: "tikv"
  ssh_port: 22
  deploy_dir: "/home/tikv/tikv-deploy"
  data_dir: "/data/tikv-data"
server_configs:
  pd:
    replication.max-replicas: ${replicas_count}
pd_servers:
%{ for host in pd_hosts ~}
  - host: "${host}"
%{ endfor ~}
tikv_servers:
%{ for host in data_hosts ~}
  - host: "${host}"
%{ endfor ~}
monitoring_servers:
  - host: "${pd_tiup_host}"
grafana_servers:
  - host: "${pd_tiup_host}"